<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPPORT 360° | Agente</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <a href="/"><strong>SUPPORT 360°</strong></a>
  </nav>
<main> 
    <h1>Agente</h1>
    <h2>Bienvenido <span id="nombre">...</span></h2>
    <button id="btn-salir">Cerrar Sesión</button>
    <div>
        <h1>Avisos</h1>
        <ul id="lista-avisos"></ul>
    </div>
    <div>
        <h1>Mis solicitudes asignadas</h1>
        <ul id="lista-asignadas"></ul>
        <p id="msg-agente"></p>
    </div>

    <div class="panel">
        <h2>Buscar solicitudes</h2>
        <div id="filtros-buscar" class="filtros" data-texto="si"></div>
        <ul id="resultados-buscar"></ul>
    </div>
</main>
    <script src="/js/main.js"></script>
    <script>
        initAgente();
    </script>
</body>
</html>
